<div ng-controller="homeController" class="container">
  <div class="container">
      <div class="jumbotron">
          <h1>SS-JNU</h1>
          <p class="lead">轻松科学上网 保护个人隐私</p>
          <p><a class="btn btn-lg btn-success" href="/#/signin" role="button">Get Started</a></p>
      </div>

      <div class="row">
          <div class="col-lg-4">
            <h2>Super Fast</h2>
            <p>Bleeding edge techniques using Asynchronous I/O and Event-driven programming.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Open Source</h2>
            <p>Totally free and open source. A worldwide community devoted to deliver bug-free code and long-term support.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Easy to work with</h2>
            <p>Avaliable on multiple platforms, including PC, MAC, Mobile (Android and iOS) and Routers (OpenWRT).</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>
      </div>
  </div>
</div>