#nameTag {
  font-size: 1.5em;
  color: white; 
}
#foot1, #foot2 {
  margin: 10px 0px 10px 0px;
  font-size: 90%;
}

.os_image {
  width: 96px;
  height: 96px;
  /*margin-top: 20px;*/
}

.backgroundImage {
  background-image:url("background.jpg");
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  padding-top:100px;
}
/* Sticky footer styles margin-bottom: 0px;
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here *//*
  height: 60px;
  background-color: #f5f5f5;
}
*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}