<div class="container" ng-controller="reset_password_with_tokenController">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-submit="reset_password_with_token()">
			<fieldset>
				<h2>Reset Password</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" ng-model="loginemail">
				</div>
				<div class="form-group">
                    <input type="text" name="token" id="token" class="form-control input-lg" placeholder="token" ng-model="token">
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" ng-model="password">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6" ng-model="password_confirmation">
						</div>
					</div>
				</div>
				<label class="alert alert-danger" ng-bind="error" ng-show="error"></label>
				<label class="alert alert-success" ng-bind="response" ng-show="response"></label>
				<label class="alert alert-info" ng-bind="notice" ng-show="notice"></label>

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3"><input type="submit" value="Reset" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>

				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>