<section data-ng-controller="InformationController" class="jumbotron row" data-ng-show="authentication.user">
	<div class="container col-md-12">
		<ul class="nav nav-tabs">
			<li><a aria-controls="home" role="tab" data-toggle="tab" data-ng-click="whichData(property)">Personal Information</a></li>
			<li><a aria-controls="home" role="tab" data-toggle="tab" data-ng-click="whichData(property)">Personal Information</a></li>
			<li><a aria-controls="home" role="tab" data-toggle="tab" data-ng-click="whichData(property)">Personal Information</a></li>
			<li data-ng-class="active"><a aria-controls="home" role="tab" data-toggle="tab" data-ng-click="whichData(property)">Personal Information</a></li>

		</ul>
	</div>


	<div class="col-md-12">
		
		<br>
		<br>
	</div>
	
	<div class="container col-md-12">
		
	</div>
	<div class="container col-md-6">
		
	</div>
</section>
