<div class="container-fluid" ng-controller="node_listController" data-ng-show="authentication.user" ng-init="init()">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/#/panel">Overview</a></li>
        <li class="active"><a href="/#/node_list">Node List</a></li>
        <li><a href="/#/reset_password">Change Password</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Node List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Location</th>
                  <th>IP</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-show="data.length>0" data-ng-repeat="value in data">
                  <td data-ng-bind="value.id"></td>
                  <td data-ng-bind="value.name"></td>
                  <td data-ng-bind="value.server">IP</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>